$nothing: none;

.accordion {
     background-color: white ;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: $nothing;
      text-align: left;
      outline: $nothing;
      font-size: 15px;
      transition: all 2s ease-in-out;
      border-bottom: 1px solid;
    }

    .accordion:after {
      content: '\22C1';
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\22C0";
    }

    .panel {
        padding: 0 18px;
        max-height: auto;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }